
.card-group{
    display: flex;
    gap: 1rem;
    margin-top: 10px;
}

.info button{
    background-color: #490CCC;
    border: none;
    padding: 8px  12px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 8px;
}

.card img{
    width: 300px;
    height: 50vh;
    object-fit: cover;
    border-radius: 30px;
}

.card img:hover{
    cursor: pointer;
    border-radius: 30px;

}

.card:hover,
.card:hover img,
.card:hover .layer{
    transform: scale(1.1);
    transition: 0.5s;
}



.card:hover >.layer{
    opacity: 1;
}

.card:hover > .info{
    opacity: 1;
    bottom: 0;
}

.card-group:hover > .card:not(:hover){
    filter: blur(5px);
}

.break{
    width: 100%;
    height: 2px;
    border-bottom: 2px solid #fff;
    margin-bottom: 40px;
}

.heading {
    display: flex;
    flex-direction: column;
}

.upcome .content{
    margin-bottom: 20px;
}