header {
  height: 10vh;
  line-height: 10vh;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  color: #fff;
  position: relative;
  z-index: 999;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
header a {
  color: #fff;
  margin-left: 30px;
}
header i {
  width: 40px;
  height: 40px;
  padding: 10px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #fff;
  margin: 0 10px;
}
header button {
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 20px;
  background:#0a8439;
}

header .logo {
  font-size: 30px;
  margin-left: 30px;
  color: #0a8439;
  font-family: poppins;
}

.toggle {
  display: none;
}


@media only screen and (max-width: 768px) {
  header nav .flexSB {
    display: none;
  }
  .account {
    display: none;
  }
  .navMenu-list {
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    background:#0a8439;
    width: 20%;
    height: 75.5vh;
    z-index: 9999;
  }
  header ul li {
    align-items: left;
    margin-top: 20px;
    padding: 0 20px;
    font-size: 20px;
    font-weight: bold;
  }
  .toggle {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto;
    cursor: pointer;
    background: none;
    border: none;
    z-index: 9999;
    color: #0a8439;
  }

}