Header{
  height: 10vh;
  line-height: 1vh;
  position: relative;
  z-index:999;
  width: 100%;
}

li{
  list-style: none;
  font-family: poppins;
}

a{
  text-decoration: none;
  color: darkgray;
  font-family: poppins;
}

.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
  background: #29886c;
  position: relative;
}

.nav_brand{
  font-size: 3.5rem;
  color: #e39623;
  text-transform: uppercase;
  font-weight: bold;
}

.nav_menu{
  display: flex;
  justify-content: space-around;
  /* width: 30%; */
  align-items: center;
  gap: 3rem;
}


.nav_toggle{
  display: none;
  cursor: pointer;
}

.nav_toggle div{
  margin: 0.4rem;
  height: 0.3rem;
  width: 2.5rem;
  background:#e39623;
  transition: 0.3s ease-in;
}


@media screen and (max-width: 768px){
  .nav_toggle{
    display: block;
    cursor: pointer;
  }
  
  .nav_menu{
    position: fixed;
    width: 50%;
    height: 20vh;
    top: 7vh;
    background: #e39623 ;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
  }

 
}


.searchBox {
  display: flex;
  max-width: 230px;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  background: #2f3640;
  border-radius: 50px;
  position: relative;
  height: 7vh;
}

.searchButton {
  color: white;
  position: absolute;
  right: 6px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--gradient-2, linear-gradient(90deg, #2AF598 0%, #009EFD 100%));
  border: 0;
  display: inline-block;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
  transform: translateY(-3px);
}

button:active {
  box-shadow: none;
  transform: translateY(0);
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  color: white;
  font-size: 15px;
  padding: 24px 46px 24px 26px;
}

