@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins" sans-serif;
    background-color: #313131;
    background: radial-gradient(
        circle farthest-side at 0% 50%,
        #282828 23.5%,
        rgba(255, 170, 0, 0) 0
      )
      21px 30px,
    radial-gradient(
        circle farthest-side at 0% 50%,
        #2c3539 24%,
        rgba(240, 166, 17, 0) 0
      )
      19px 30px,
    linear-gradient(
        #282828 14%,
        rgba(240, 166, 17, 0) 0,
        rgba(240, 166, 17, 0) 85%,
        #282828 0
      )
      0 0,
    linear-gradient(
        150deg,
        #282828 24%,
        #2c3539 0,
        #2c3539 26%,
        rgba(240, 166, 17, 0) 0,
        rgba(240, 166, 17, 0) 74%,
        #2c3539 0,
        #2c3539 76%,
        #282828 0
      )
      0 0,
    linear-gradient(
        30deg,
        #282828 24%,
        #2c3539 0,
        #2c3539 26%,
        rgba(240, 166, 17, 0) 0,
        rgba(240, 166, 17, 0) 74%,
        #2c3539 0,
        #2c3539 76%,
        #282828 0
      )
      0 0,
    linear-gradient(90deg, #2c3539 2%, #282828 0, #282828 98%, #2c3539 0%) 0 0
      #282828;
  background-size: 40px 60px;
}

a{
    text-decoration: none;
}

ul{
    list-style-type:none ;
}

.flexSB{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    max-width: 90%;
    margin: auto;
}


.row{
    width: 50%;
   
}

p{
    line-height: 30px;
}

.flex{
    display: flex;
}

.control-btn button{
    border:2px solid rgba(255, 255, 255, 0.3);
    padding: 0;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
}

.control-btn .next{
   position: absolute;
   top: 50%;
   right: 2%;

}

.control-btn .prev{
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 99;
 }


.heading h1{
    font-weight: 500;
    margin: 20px 0;
    color: #fff;
}

.heading a{
    color: #08e50f;
}

/* responsive css */
@media screen and (max-width: 768px){
    .row{
        width: 100%;
    }

    .control-btn button{
        height: 40px;
        width: 40px;
    }

    .heading{
        margin-top: 25px;
    }

    .heading h1{
        font-size: 1.5rem;
    }

    .control-btn .next{
        right: 5%;
    }

    .control-btn .prev{
        left: 5%;
    }

    .control-btn button{
        height: 30px;
        width: 30px;
    }

    
}